<form name="searchForm" role="form">
    <div class="form-group">
      <label for="">动漫名称:</label>
      <input  type="text" placeholder="动漫名称">
    </div>
    <div class="form-group">
        <label for="">动漫等级:</label>
        <input  type="number" placeholder="动漫等级">
      </div>
      <div class="form-group">
          <label for="">动漫类别:</label>
          <select name="" id="">
            <option value="">热心</option>
            <option value="">科幻</option>
            <option value="">古侠</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">搜索</button>
        </div>
</form>