 <form [formGroup]="formModel" novalidate (ngSubmit)="onSearch()"> 
    <div class="form-group" [class.has-error]="formModel.hasError('minLength','title')">
      <label >动漫名称:</label>
      <input class="form-control" formControlName="title"  type="text" placeholder="动漫名称">
      <span class="helpColor" [class.hidden]="formModel.get('title').valid ||formModel.get('title').untouched ">
        请输入至少三位数
      </span>
    </div>
    <div class="form-group" [class.has-error]="formModel.hasError('postiveNumber','price')">
        <label >动漫等级:</label>
        <input class="form-control" formControlName="price"  type="number" placeholder="动漫等级">
        <span class="helpColor" [class.hidden]="!formModel.hasError('postiveNumber','price')">
          请输入正数
        </span>
      </div>
      <div class="form-group">
          <label >动漫类别:</label>
          <select formControlName="category" class="form-control">
            <option value="-1">全部分类</option>
            <option [value]="category" *ngFor="let category of categories" >{{category}}</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">搜索</button>
        </div>
</form> 